@page "/admin-page"

@if (User?.IsInRole("admin") == true)
{
    <div class="admin-div">
        <header>
            <aside class="back">
                <a href="/">&larr; Home</a>
            </aside>
            <h1 class="page-name">Admin Page</h1>
            <h1>@InstitutionName - @InstitutionCode</h1>
        </header>

        <div class="container">
            <div class="container-top">
                <div class="left">
                    <h2>Users List</h2>
                </div>
                <div class="right">
                    <button @onclick="OpenInviteModal">Invite Member</button>
                </div>
            </div>
            <div class="container-body">
                @if (AllUsers != null)
                {
                    <table>

                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        @foreach (var user in AllUsers)
                        {
                            <tr>
                                <td>@user.FirstName @user.LastName</td>
                                <td>@user.Email</td>
                                <td>@(user.Roles.FirstOrDefault()?.Name)</td>
                                <td class="btn"><button @onclick="() => RemoveUser(user.Id)">Remove Member</button></td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
}



@inject IModalService Modal
@inject IJSRuntime JSRuntime
@code {
    [CascadingParameter] public User User { get; set; } = null!;
    IEnumerable<User>? AllUsers;
    public string? InstitutionName { get; set; }
    public string? InstitutionCode { get; set; }

    protected override void OnInitialized()
    {
        LoadUsers();
    }

    void LoadUsers()
    {
        AllUsers = Users.Query.Where(x => x.InstitutionId == User!.InstitutionId);
    }

    async Task OpenInviteModal()
    {
        var modal = Modal.Show<InviteUser>();
        await modal.Result;
    }

    async Task RemoveUser(int id)
    {
        var confirm = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to remove this user from this institution?");
        if (confirm)
            await Users.ExecuteAsync(id, x => x.SetInstitution(null));

        LoadUsers();
    }
}