@inherits SparcModal

<div class="add-collection">
    <p>
        Invite new team member
    </p>

    <label>
        Member Email
        <input @bind=Email />
    </label>

    <label>
        Member Role
        <select @bind="@Role">             
            @if (User?.IsInRole("admin") == true)
            {
                @foreach (var role in AllRoles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            }
            else if (User?.IsInRole("supervisor") == true)
            {
                var basicRole = AllRoles.FirstOrDefault(r => r.Name == "basic");
                if (basicRole != null)
                {
                    <option value="@basicRole.Id">@basicRole.Name</option>
                }
            }
        </select>
    </label>

    <button @onclick=Send>Send invite</button>
</div>

@inject IRepository<Role> Roles
@code {
    [CascadingParameter] public ClaimsPrincipal User { get; set; } = null!;
    List<Role> AllRoles = new();
    string Email = "";
    string Role = "";
    //SendInviteRequest Request = new ();

    protected override void OnInitialized()
    {
        AllRoles = Roles.Query.ToList();
    }

    async Task Send()
    {
        // await TorchCommands.SendInviteAsync(Request);
        await Ok();
    }
}