@inherits SparcModal

@*I replicated the code but the invite needs to be tweaked for collections*@

<div class="add-collection">
    <p>
        Invite new team member
    </p>

    <label>
        Member Email
        <input @bind=Request.Email />
    </label>

    <label>
        Member Role
        <select @bind="@Request.Roles">             
            @if (User?.IsInRole("admin") == true)
            {
                @foreach (var role in Roles.Roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            }
            else if (User?.IsInRole("supervisor") == true)
            {
                var basicRole = Roles.Roles.FirstOrDefault(r => r.Name == "basic");
                if (basicRole != null)
                {
                    <option value="@basicRole.Id">@basicRole.Name</option>
                }
            }
        </select>
    </label>

    <button @onclick=Send>Send invite</button>
</div>

@code {
    [CascadingParameter] public ClaimsPrincipal? User { get; set; }
    RolesResponse? Roles;
    SendInviteRequest Request = new ();

    protected override async Task OnInitializedAsync()
    {
        Roles = await TorchCommands.GetRolesAsync();
    }

    async Task Send()
    {
        await TorchCommands.SendInviteAsync(Request);
        await Ok();
    }
}