@*@inherits SparcModal*@

@page "/collections/{CollectionId:int}/{SpecimenId:int}"

<div class="specimen-detail">
    @if (FullSpecimen != null)
    {
        <div class="left">
            <div>
                <h4>Corolla Pale Lavender</h4>  @*confirm what information should be here*@
                <p>@FullSpecimen.Catalog_number | @FullSpecimen.Create_date.ToString("d MMM yyy")</p>
            </div>
            <div class="long-text">
                <h5>Long text</h5>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="images">
                @foreach (var img in FullSpecimen.Images)
                {
                    <figure class="@(SelectedImage == img ? "selected" : "")" @onclick="@(() => Select(img))">
                        <img src="@img.External_url" alt="@img.Size" />
                        <figcaption>
                            @img.Size
                        </figcaption>
                    </figure>
                }
            </div>
            <div class="tasks">
                @foreach (var task in FullSpecimen.Tasks)
                {
                    <TaskCard Task="task" />
                }
            </div>
        </div>
        <div class="right">
            <figure>
                @if (ImageUrl != null)
                {
                    <img src="@SelectedImageUrl" alt="@FullSpecimen.Catalog_number" />
                }
            </figure>
        </div>
    }
</div>

@inject IConfiguration Config
@code {
    [Parameter] public int CollectionId { get; set; }
    [Parameter] public int SpecimenId { get; set; }
    [Parameter] public SpecimenResponse Specimen { get; set; } = null!;
    SpecimenImageResponse? SelectedImage;
    SpecimenResponse? FullSpecimen;

    protected override async Task OnInitializedAsync()
    {
        FullSpecimen = await TorchCommands.GetSpecimenAsync(CollectionId, SpecimenId);
        SelectedImage = FullSpecimen.Images.FirstOrDefault();
    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    //SelectedImage = Specimen.Images.FirstOrDefault();
    //    //SelectedImage = FullSpecimen.Images.FirstOrDefault();
    //}

    string? ImageUrl => (FullSpecimen.Card_image?.External_url?.StartsWith("http") == true ? "" : Config["Blossom:Authority"])
        + FullSpecimen.Card_image?.External_url;

    string? SelectedImageUrl => SelectedImage?.External_url ?? ImageUrl;

    void Select(SpecimenImageResponse img) => SelectedImage = img;
}
